{% extends "_templates/base.twig" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>My PHP Framework (Very simple)</h2>
        </div>
    </div>

    <h1>Hello there!</h1>
    <ul>
        <li><a href="/home/auth">Auth</a></li>
        <li><a href="/home/config">Config</a></li>
        <li><a href="/home/db">Db class</a></li>
        <li>Email</li>
        <li><a href="/home/validation">Form Validation</a></li>
        <li><a href="/home/image">Image Manipulation</a></li>   
        <li><a href="/home/models">Models</a></li>
        <li><a href="/home/pagination">Pagination</a></li>
        <li><a href="/home/redirect">Redirection</a></li>
        <li><a href="/home/session_flash">Session &amp; Flash messages</a></li>
    </ul>
{% endblock %}