{% extends "_templates/base.twig" %}
{% block content %}
    
   <h2>Session flashes</h2>
   
   <form method="post">
       <input type="submit" value="Set flash and redirect">
   </form>

{% endblock %}